<!--{% extends "base.html" %}-->

<!--{% block page_content %}-->
<!--<div>-->
 <!--<table>-->
     <!--{% for entry in users %}-->
     <!--<tr>-->
         <!--<td>{{entry.user_id}}</td>-->
         <!--<td>{{entry.user_name}}</td>-->
         <!--<td>{{entry.user_pass}}</td>-->
     <!--</tr>-->
     <!--{% endfor %}-->
    <!--</table>-->
<!--</div>-->
<!--{% endblock %}-->


                    <!--<input type="radio" name="radio"  id="select1" checked value="0" aria-checked="false">入库-->
                    <!--<input type="radio" name="radio"  id="select2" checked value="1" aria-checked="false">出库-->
                    <!--<input type="radio" name="radio"  id="select3" checked value="2" aria-checked="false">修好-->
                    <!--<input type="radio" name="radio"  id="select4"  checked value="3" checked=""  >返修-->


                <!--href="{{ url_for('ctr.form_change_num',materialid=entry.material_id) }}" -->

                   <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
							<!--下拉菜单-->
							<!--<span class="caret"></span>-->
                     <!--</button>-->
                     <!--<ul class="dropdown-menu pull-right">-->
                        <!--<li><a href="#">入库</a></li>-->
                        <!--<li><a href="#">出库</a></li>-->
                        <!--<li><a href="#">修好</a></li>-->
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                        <!--<li><a href="#">返修</a></li>-->
                     <!--</ul>

                     <!--<li><a href="{{url_for('ctr.list_forms')}}">forms_list</a></li>-->


















