Flask==1.0.2
Flask-Bootstrap==3.0.3.1
Flask-Mail==0.9.0
Flask-Migrate==1.1.0
Flask-Moment==0.6.0
Flask-SQLAlchemy==2.3.2
Flask-Script==0.6.6
Flask-WTF==0.14.2
Jinja2==2.10
Mako==0.9.1
MarkupSafe==1.0
SQLAlchemy==1.2.8
WTForms==2.2.1
Werkzeug==0.14.1
alembic==0.6.2
blinker==1.4
itsdangerous==0.24
pip==10.0.1
setuptools==39.1.0