{% extends "bootstrap/base.html" %}

{% block title %}Inveory{% endblock %}
{% block head %}
	<meta charset="utf-8">
	<title>Inventory System</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{url_for('ctr.login_user_in')}}">Login</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">iOS</a></li>
			<li><a href="#">SVN</a></li>
		</ul>
	</div>
	</div>
</nav>
{% endblock %}



{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}