{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div>
    <!--<h1>库存列表</h1>-->
    <form action="{{ url_for('ctr.form_change_num') }}" method="post">

        <table class="table table-hover" id="tableattr">
             <thead>
                 <th>库存ID</th>
                 <th>库存名</th>
                 <th>库存数量</th>
                 <th>返修中数量</th>
                 <th>
                    <input type="radio" name="radio"  id="select1" checked value="0" aria-checked="false">入库
                    <input type="radio" name="radio"  id="select2" checked value="1" aria-checked="false">出库
                    <input type="radio" name="radio"  id="select3" checked value="2" aria-checked="false">修好
                    <input type="radio" name="radio"  id="select4"  checked value="3" checked=""  >返修
                 </th>
             </thead>

             {% for entry in materials %}

             <tr id="tr_entry">
                 <td>{{entry.material_id}}</td>
                 <td>{{entry.material_name}}</td>
                 <td>{{entry.countnum}}</td>
                 <td>{{entry.reworknum}}</td>
                 <td>
                     <input type="hidden" name="input_hidden_{{loop.index}}" value="{{entry.material_id}}">
                        <input type="text" name="input_text_{{loop.index}}" id="numcls1">
                        <input name="input_button_{{entry.material_id}}" type="submit" value="操作"></td>
                 <!--href="{{ url_for('ctr.form_change_num',materialid=entry.material_id) }}" -->
             </tr>
             {% endfor %}
        </table>
    </form>
</div>


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_materials') }}
</div>
{% endif %}
{% endblock %}




