{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div>
 <table class="tableattr">
     <thead>
         <th>材料ID</th>
         <th>材料名</th>
         <th>数量</th>
         <th>返修数量</th>
     </thead>
     {% for entry in materials %}
     <tr>
         <td>{{entry.material_id}}</td>
         <td>{{entry.material_name}}</td>
         <td>{{entry.countnum}}</td>
         <td>{{entry.reworknum}}</td>
     </tr>
     {% endfor %}
    </table>
</div>


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_materials') }}
</div>
{% endif %}
{% endblock %}




